html
	head
		meta(charset="UTF-8")
		link(rel="shortcut icon" type="image/x-icon" href="")
		link(rel="shortcut icon" href="")
		meta(content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="telephone=no" name="format-detection")
		link(rel="stylesheet", href="css/main.min.css")
		title guest
	body
		.wrapper
			include ./basic/header.jade
			.content
				h1.text-uppercase регистрация гостя
				form(id="", method="", action="")
					.settings-part.clearfix
						div.field-wrap.backing.md-size
							i.icon-pin
							div.field
								label(for="address") Адрес
								input(type="text", value="ул. Н. Закревского 97", disabled="disabled" id="address", class="custom-hidden", placeholder="ул. Н. Закревского 97", name="address", required)
						div.field-wrap.backing
							div.field
								label(for="number") Номер
								//- TODO Если input number, то нельзя ограничить кол-во символов.
								input(type="text", value="", id="number", class="custom-hidden empty-value", placeholder="---", name="number", required)
					.settings-part.clearfix
						div.field-wrap.backing.half-size
							i.icon-calendar
							div.field
								label(for="entry-date") Дата заезда
								input(type="date", value="", id="entry-date", class="custom-hidden datepicker", placeholder="17.05.2015", name="entry-date", required)
						div.field-wrap.backing.half-size
							i.icon-calendar
							div.field
								label(for="exit-date") Дата выезда
								input(type="date", value="", id="exit-date", class="custom-hidden datepicker", placeholder="--.--.----", name="exit-date", required)
					.settings-part
						div.field-wrap.backing
							i.icon-clock
							div.field
								label(for="time") Приблизительное время выезда
								input(type="time", value="", id="time", class="custom-hidden timepicker", placeholder="--:--", name="time", required)
				div(class="guest-adding", id="add-form")
					.inner
						.settings-part.user-info
							div.field-wrap.backing
								i.icon-person
								div.field
									label(for="name") ФИО
									input(type="text", value="", id="name", class="custom-hidden", placeholder="---", name="name", required)
						.settings-part.user-info
							div.field-wrap.backing
								i.icon-phone
								div.field
									label(for="phone") Номер телефона
									input(type="tel", value="", id="phone", class="custom-hidden", placeholder="---", name="phone", required)
						.settings-part.user-info
							div.field-wrap.backing
								i.icon-list
								div.field
									label(for="document") Документ
									input(type="text", value="", id="name", class="custom-hidden", placeholder="---", name="name", required)
						.settings-part.user-info
							div.field-wrap.backing
								div.field
									label(for="city") Город, улица
									input(type="text", value="", id="city", class="custom-hidden", placeholder="---", name="city", required)
						.settings-part.user-info.clearfix
							div.field-wrap.backing.half-size
								div.field
									label(for="house") Дом
									input(type="text", value="", id="house", class="custom-hidden", placeholder="---", name="house", required)
							div.field-wrap.backing.half-size
								div.field
									label(for="appartment") Квартира
									input(type="text", value="", id="appartment", maxlength="3", class="custom-hidden", placeholder="---", name="appartment", required)
				.btn-add.settings-part.clearfix
					a(href="", target="", class="link-add field-wrap backing")
						i.icon-add-user
						div.field
							span.description Добавить гостя
				.pricepool
					.settings-part
						div.field-wrap.backing
							i.icon-wallet
							div.field
								label(for="price") Сумма
								input(type="text", value="", id="price", class="custom-hidden", placeholder="---", name="price", required)
					div.price-tags.clearfix
						a(href="", class="tag" data-price="245,00 грн") 245,00 грн
						a(href="", class="tag" data-price="125,00 грн") 125,00 грн
						a(href="", class="tag" data-price="Б/Н") Б/Н
						a(href="", class="tag" data-price="233,00 (-5%) грн") 233,00 (-5%) грн
						a(href="", class="tag" data-price="220,00 (-10%) грн") 220,00 (-10%) грн
				.photo-module.backing.bordered.center.clearfix
					h2 Добавить фото
					div.photo-elements
						div.photo-block
							label(for="photo-1", class="styled-photo")
							input(type="file", id="photo-1", class="hidden")
						div.photo-block
							label(for="photo-2", class="styled-photo")
							input(type="file", id="photo-2", class="hidden")
						div.photo-block
							label(for="photo-3", class="styled-photo")
							input(type="file", id="photo-3", class="hidden")
					.settings-part.clearfix
				div.field-wrap.backing
					i.icon-cloud
					div.field
						label(for="Комментарий") Комментарий
						textarea(name="", cols="30", rows="3", maxlength="60", placeholder="---", class="textarea")
				.btn-holder
					button(type="submit", class="btn btn-primary text-uppercase", value="Войти") готово
	script(src="js/jquery.min.js")
	script(src="js/main.js")