html
	head
		meta(charset="UTF-8")
		link(rel="shortcut icon" type="image/x-icon" href="")
		link(rel="shortcut icon" href="")
		meta(content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="telephone=no" name="format-detection")
		link(rel="stylesheet", href="css/main.min.css")
		title index
	body
		.wrapper
			include ./basic/hidden-header.jade
			.content
				h1.text-uppercase Авторизация
				form(id="", method="", action="")
					div.field-wrap.backing.clearfix
						i.icon-person
						div.field
							label(for="login") Логин
							input(type="email", value="", id="login", class="custom-hidden", placeholder="Введите логин", name="log", required)
					div.field-wrap.backing.clearfix
						i.icon-lock
						div.field
							label(for="password") Пароль
							input(type="password", value="", id="password", class="custom-hidden", placeholder="Введите пароль", name="pass", required)
					.btn-holder
						button(type="submit", class="btn btn-primary", value="Войти") Войти
	script(src="js/jquery.min.js")
	script(src="js/main.js")
