html
	head
		meta(charset="UTF-8")
		link(rel="shortcut icon" type="image/x-icon" href="")
		link(rel="shortcut icon" href="")
		meta(content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="telephone=no" name="format-detection")
		link(rel="stylesheet", href="css/main.min.css")
		title video-page
	body
		.wrapper
			include ./basic/header.jade
			.content
				h1.text-uppercase видео инструкции
				div.video-block
					div.field-wrap.backing.clearfix
						i.icon-video
						div.field
							span.description Обзор LG G4. Кожаный убийца iPhone и Galaxy?
					div.video-backing.center
						iframe(src="https://www.youtube.com/embed/9Hgc2yxHRCQ" frameborder="0" allowfullscreen, class="video-frame")
				div.video-block
					div.field-wrap.backing.clearfix
						i.icon-video
						div.field
							span.description iPhone 6 Plus: обзор смартфона
					div.video-backing.center
						iframe(src="https://www.youtube.com/embed/OzcDS4MnvOw" frameborder="0" allowfullscreen, class="video-frame")
				div.video-block
					div.field-wrap.backing.clearfix
						i.icon-video
						div.field
							span.description Обзор ONEPLUS ONE спустя месяц использования.
					div.video-backing.center
						iframe(src="https://www.youtube.com/embed/v_bC7-iJM8w" frameborder="0" allowfullscreen, class="video-frame")
	script(src="js/jquery.min.js")
	script(src="js/main.js")
