*
	box-sizing: border-box

body
	text-size-adjust: none
	background-color: #f6f6f6
	overflow-scrolling: touch
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased

.backing
	position: relative
	background-color: #fff

.center
	padding: 0 16px