.roller
	padding: 0 0 30px 0
	.field-wrap
		padding-bottom: 5px
	.field-wrap+.counter
		display: none
	.custom-select
		padding: 0
		width: 100%
		border: none
		outline: none
		appearance: none
		background: url('../images/arrow-select.png') no-repeat right center
		background-size: 15px 9px

.top-border
	border-top: 1px solid #e2e2e2 !important

// .roller.first