$bg-size: 83px 704px
$bg-path: url('../images/icon-sf08b64977e.png')

header
	.backing
		min-height: 50px
		border-bottom: 1px solid #e2e2e2

.btnMenu
	padding: 0
	width: 60px
	border: none
	outline: none
	display: block
	max-height: 50px
	min-height: 50px
	position: relative
	background-color: transparent
	-webkit-tap-highlight-color: transparent
	&>.gamb
		top: 50%
		left: 50%
		width: 20px
		height: 18px
		display: block
		position: absolute
		margin: -9px 0 0 -15px
		transform: translateZ(0)
		&>.line
			width: 20px
			height: 3px
			display: block
			margin-bottom: 4px
			background-color: #303030
			transition: transform 0.5s, opacity 0.7s
			&:last-of-type
				margin: 0
	&.in
		&>.gamb
			&>.line
				&:nth-child(1)
					transform: translate3d(0px, 7px, 0) rotate(45deg)
				&:nth-child(2)
					transform: translate3d(0px, 0px, 0) rotate(-45deg)
				&:nth-child(3)
					opacity: 0
					transform: translate3d(0px, -8px, 0) rotate(-40deg)

.heading-wrap
	z-index: 20
	position: relative
	height: 50px
	background-color: #FFF

.logo
	top: 50%
	left: 50%
	width: 84px
	height: 32px
	display: block
	margin-top: -16px
	margin-left: -42px
	position: absolute
	background: $bg-path no-repeat 0 -395px
	background-size: $bg-size

.btnExit
	width: 60px
	display: block
	max-height: 50px
	min-height: 50px
	position: relative
	&:before
		content: ''
		position: absolute
		right: 50%
		top: 50%
		width: 22px
		height: 18px
		margin: -9px -15px 0 0
		background: $bg-path no-repeat 0 -175px
		background-size: $bg-size

.navigation
	left: 0
	top: 51px
	width: 100%
	display: none
	position: absolute
	li
		padding: 0 16px
		margin-top: -50px
		transition: all 0.3s ease-in-out
		transform: translate3d(0,0,0)
		&.shown
			margin-top: 0
			a:after
				opacity: 1
				transform: translate3d(0,0,0)
		a
			display: block
			color: #5e5e5e
			font-size: 16px
			padding: 10px 0
			position: relative
			[class^="icon-"]
				width: 35px
				display: inline-block
				vertical-align: middle
				&:before
					margin: 2px 0
			.icon-mail:before
				margin: 6px 0
			.icon-video:before
				margin: 7px 0
			span
				display: inline-block
				vertical-align: middle
			&:after
				right: 0
				opacity: 0
				transform: translate3d(50px,0,0)
				transition: all 950ms