.homenav
	&>li
		&>a
			display: block
			color: #5e5e5e
			font-size: 16px
			&:after
				right: 16px
			i
				&:before
					margin-top: 12px
				&.icon-mail:before
					margin-top: 15px
				&.icon-video:before
					margin-top: 16px
				float: left
				width: 35px
				height: 50px
				display: block
				margin-left: 16px
			span
				display: block
				padding: 15px 0
				overflow: hidden
				border-bottom: 1px solid #e2e2e2
