$bg-size: 83px 704px
$bg-path: url('../images/icon-sf08b64977e.png')

[class^="icon-"]
	width: 30px
	height: 30px
	display: block
	position: relative
	&:before
		content: ''
		background: $bg-path no-repeat
		background-size: $bg-size

.icon-quest-registration:before
	width: 22px
	height: 22px
	display: block
	background-position: 0 -234px

.icon-listing:before
	width: 19px
	height: 22px
	display: block
	background-position: 0 -331px

.icon-mail:before
	width: 24px
	height: 17px
	display: block
	background-position: 0px -436px

.icon-video:before
	width: 23px
	height: 16px
	display: block
	background-position: 0px -659px

.icon-person:before
	width: 22px
	height: 22px
	display: block
	background-position: 0px -475px

.icon-lock:before
	width: 17px
	height: 22px
	display: block
	background-position: 0px -363px

.icon-pin:before
	width: 19px
	height: 23px
	display: block
	background-position: 0px -538px

.icon-calendar:before
	width: 23px
	height: 22px
	display: block
	background-position: 0px -48px

.icon-clock:before
	width: 22px
	height: 22px
	display: block
	background-position: 0px -110px

.icon-list:before
	width: 18px
	height: 22px
	display: block
	background-position: 0px -299px

.icon-phone:before
	width: 16px
	height: 22px
	display: block
	background-position: 0px -507px

.icon-add-user:before
	width: 23px
	height: 23px
	display: block
	background-position: 0px -202px

.icon-wallet:before
	width: 22px
	height: 20px
	display: block
	background-position: 0px -684px

.icon-cloud:before
	width: 23px
	height: 23px
	display: block
	background-position: 0px -142px

.icon-remove-user:before
	width: 23px
	height: 23px
	display: block
	background-position: 0px -266px

.icon-plus:before
	width: 22px
	height: 22px
	display: block
	background-position: 0px -571px

.icon-minus:before
	width: 22px
	height: 2px
	display: block
	background-position: 0px -463px

.arrow
	position: relative
	&:after
		content: ''
		position: absolute
		top: 50%
		width: 9px
		height: 15px
		margin-top: -7px
		background: $bg-path no-repeat
		background-size: $bg-size