$bg-size: 83px 704px
$bg-path: url('../images/icon-sf08b64977e.png')

.photo-module
	margin: 30px 0

.photo-elements
	font-size: 0
	text-align: center

.photo-block
	margin-right: 16px
	margin-bottom: 15px
	vertical-align: top
	display: inline-block
	&:nth-child(3n)
		margin-right: 0
	.styled-photo
		width: 84px
		height: 84px
		display: block
		position: relative
		border-radius: 3px
		border: 1px solid #157dfb
		background-color: #157dfb
		&:after
			content: ''
			position: absolute
			left: 50%
			top: 50%
			width: 22px
			height: 20px
			margin: -10px 0 0 -11px
			background: $bg-path no-repeat 0 -80px
			background-size: $bg-size
