$bg-size: 83px 704px
$bg-path: url('../images/icon-sf08b64977e.png')

.tab-controls
	background-color: #157dfb
	border-top: 1px solid #e2e2e2
	border-bottom: 1px solid #e2e2e2
	margin-bottom: 30px
	a
		color: #fff
		float: left
		font-size: 12px
		padding: 14px 0
		position: relative
		margin-right: 25px
		&:last-of-type
			margin-right: 0
		&:after
			display: none
			left: 50%
			content: ''
			width: 38px
			height: 17px
			bottom: -17px
			margin-left: -19px
			position: absolute
			background: $bg-path 0 -632px
			background-size: $bg-size
		&.active
			opacity: 1
			&:after
				display: block

.tab-content
	display: none
	&.visible
		display: block
		.photo-module 
			margin-top: 0