.video-block
	padding-bottom: 30px
	.icon-video
		&:before
			margin-left: 0
			margin: 15px auto
	.description
		display: block
		color: #303030
		font-size: 16px
		padding: 14px 0

.video-backing
	padding-top: 10px
	padding-bottom: 10px
	background-color: #fff
	border-bottom: 1px solid #e2e2e2
	.video-frame
		width: 100%
		min-height: 154px