.counter {
  min-height: 50px;
  padding: 10px 16px;
  text-align: center;
}
.counter.visible {
  display: block !important;
}
.counter [class^=icon-] {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #157dfb;
  position: absolute;
  top: 10px;
}
.counter .minus {
  left: 16px;
}
.counter .plus {
  right: 16px;
}
.counter .plus:before,
.counter .minus:before {
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
}
.counter .plus:before {
  margin-top: -10px;
  margin-left: -10px;
}
.counter .minus:before {
  margin-top: -1px;
  margin-left: -11px;
}

.count-field {
  padding: 4px 0;
  color: #303030;
  font-size: 14px;
  max-height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.item-count {
  padding: 0;
  border: none;
  width: 40px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.item-count::-webkit-input-placeholder {
  color: #303030;
  font-size: 14px;
}
.item-count::-moz-placeholder {
  color: #303030;
  font-size: 14px;
}
.item-count:-moz-placeholder {
  color: #303030;
  font-size: 14px;
}
.item-count:-ms-input-placeholder {
  color: #303030;
  font-size: 14px;
}

.label {
  display: inline-block;
  vertical-align: middle;
}
