.homenav > li > a {
  display: block;
  color: #5e5e5e;
  font-size: 16px;
}
.homenav > li > a:after {
  right: 16px;
}
.homenav > li > a i {
  float: left;
  width: 35px;
  height: 50px;
  display: block;
  margin-left: 16px;
}
.homenav > li > a i:before {
  margin-top: 12px;
}
.homenav > li > a i.icon-mail:before {
  margin-top: 15px;
}
.homenav > li > a i.icon-video:before {
  margin-top: 16px;
}
.homenav > li > a span {
  display: block;
  padding: 15px 0;
  overflow: hidden;
  border-bottom: 1px solid #e2e2e2;
}
