.icon-sprite, .icon-arrow, .icon-article, .icon-calendar, .icon-camera, .icon-clock, .icon-cloud, .icon-exit, .icon-guest-add, .icon-guest-regist, .icon-guest-remove, .icon-list, .icon-listing, .icon-lock, .icon-logo, .icon-mail, .icon-minus, .icon-person, .icon-phone, .icon-pin, .icon-plus, .icon-remove, .icon-trinagle, .icon-video, .icon-wallet {
  background-image: url('../images/icon-sf08b64977e.png');
  background-repeat: no-repeat;
}

.icon-arrow {
  background-position: 0 0;
}

.icon-article {
  background-position: 0 -50px;
}

.icon-calendar {
  background-position: 0 -96px;
}

.icon-camera {
  background-position: 0 -160px;
}

.icon-clock {
  background-position: 0 -220px;
}

.icon-cloud {
  background-position: 0 -284px;
}

.icon-exit {
  background-position: 0 -349px;
}

.icon-guest-add {
  background-position: 0 -403px;
}

.icon-guest-regist {
  background-position: 0 -468px;
}

.icon-guest-remove {
  background-position: 0 -532px;
}

.icon-list {
  background-position: 0 -597px;
}

.icon-listing {
  background-position: 0 -661px;
}

.icon-lock {
  background-position: 0 -725px;
}

.icon-logo {
  background-position: 0 -789px;
}

.icon-mail {
  background-position: 0 -872px;
}

.icon-minus {
  background-position: 0 -925px;
}

.icon-person {
  background-position: 0 -949px;
}

.icon-phone {
  background-position: 0 -1013px;
}

.icon-pin {
  background-position: 0 -1076px;
}

.icon-plus {
  background-position: 0 -1141px;
}

.icon-remove {
  background-position: 0 -1203px;
}

.icon-trinagle {
  background-position: 0 -1263px;
}

.icon-video {
  background-position: 0 -1317px;
}

.icon-wallet {
  background-position: 0 -1368px;
}
