.tab-controls {
  background-color: #157dfb;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 30px;
}
.tab-controls a {
  color: #fff;
  float: left;
  font-size: 12px;
  padding: 14px 0;
  position: relative;
  margin-right: 25px;
}
.tab-controls a:last-of-type {
  margin-right: 0;
}
.tab-controls a:after {
  display: none;
  left: 50%;
  content: "";
  width: 38px;
  height: 17px;
  bottom: -17px;
  margin-left: -19px;
  position: absolute;
  background: url("../images/icon-sf08b64977e.png") 0 -632px;
  background-size: 83px 704px;
}
.tab-controls a.active {
  opacity: 1;
}
.tab-controls a.active:after {
  display: block;
}

.tab-content {
  display: none;
}
.tab-content.visible {
  display: block;
}
.tab-content.visible .photo-module {
  margin-top: 0;
}
